<div>
  <ul class='list-group'>
    <li class='list-group-item'>
      Buy Item 1 - <span class='font-weight-bold'>1 DAI</span>
      <button type='button' class='btn btn-primary float-right' (click)="buy(0)">
        Buy
      </button>
    </li>
    <li class='list-group-item'>
      Buy Item 2 - <span class='font-weight-bold'>3 DAI</span>
      <button type='button' class='btn btn-primary float-right' (click)="buy(1)">
        Buy
      </button>
    </li>
  </ul>
  <h1>{{ downloadUrl }}</h1>
</div>